.header-background {
    background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7));
    background-image: url('./src/assets/imgs/Header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
